////////////////////////////////////
// SCSS: BUTTONS
////////////////////////////////////

@use '../helpers/variables';

.btnCenter {
  text-align: center;
  padding: 6rem 0 6rem 0; // wg projektu: 9.6rem 0 6rem 0

  .btn {
    cursor: pointer;
    padding: 2.5rem 3.8rem;
    border-radius: 180px;
    border: none;
    font-size: 1.7rem;
    text-decoration: none;
    font-family: 'archia';

    &__light {
      @extend .btn;
      color: variables.$color-text;
      background: variables.$color-white;

      &:hover {
        background: variables.$color-border;
      }
    }

    &__dark {
      @extend .btn;
      color: variables.$color-white;
      background: variables.$color-3;

      &:hover {
        background: darken(variables.$color-3, 90%);
      }
    }

    &__acf {
      @extend .btn;

      span {
        padding-left: 1rem;
      }
    }
  }
}



