////////////////////////////////////
// SCSS: FOOTER
////////////////////////////////////

@use '../helpers/variables';

footer {
  .footer-content {
    width: 100%;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-text;

    h1 {
      padding: 4.5rem 0 1.5rem 0;
    }

    p {
      width: 80%;
      margin: auto;
      padding-bottom: 2rem;

      @media all and (min-width: 768px) {
        width: 65rem;
        padding-bottom: 0;
      }
    }

    .footer-contact {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;

      .contact {
        padding: 2rem 0;

        @media all and (min-width: 640px) {
          padding: 5rem 0;
        }
      }

      .social-media {
        display: inline-flex;
        justify-content: center;
        margin: 5.5rem 0 5rem 0;
      }

      @media all and (min-width: 640px) {
        grid-template-columns: 20rem 25rem 8rem;
      }
    }
  }

  a {
    color: variables.$color-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
