@charset "UTF-8";
.block-text-box,
.block-text-box1,
.block-text-box2,
.block-text-box3,
.block-text-box4,
.block-text-box5,
.block-text-box6 {
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (max-width: 1150px) {
  .block-text-box,
.block-text-box1,
.block-text-box2,
.block-text-box3,
.block-text-box4,
.block-text-box5,
.block-text-box6 {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
.block-text-box .content,
.block-text-box .content1,
.block-text-box .content2,
.block-text-box .content3,
.block-text-box .content4,
.block-text-box .content5,
.block-text-box .content6,
.block-text-box1 .content,
.block-text-box1 .content1,
.block-text-box1 .content2,
.block-text-box1 .content3,
.block-text-box1 .content4,
.block-text-box1 .content5,
.block-text-box1 .content6,
.block-text-box2 .content,
.block-text-box2 .content1,
.block-text-box2 .content2,
.block-text-box2 .content3,
.block-text-box2 .content4,
.block-text-box2 .content5,
.block-text-box2 .content6,
.block-text-box3 .content,
.block-text-box3 .content1,
.block-text-box3 .content2,
.block-text-box3 .content3,
.block-text-box3 .content4,
.block-text-box3 .content5,
.block-text-box3 .content6,
.block-text-box4 .content,
.block-text-box4 .content1,
.block-text-box4 .content2,
.block-text-box4 .content3,
.block-text-box4 .content4,
.block-text-box4 .content5,
.block-text-box4 .content6,
.block-text-box5 .content,
.block-text-box5 .content1,
.block-text-box5 .content2,
.block-text-box5 .content3,
.block-text-box5 .content4,
.block-text-box5 .content5,
.block-text-box5 .content6,
.block-text-box6 .content,
.block-text-box6 .content1,
.block-text-box6 .content2,
.block-text-box6 .content3,
.block-text-box6 .content4,
.block-text-box6 .content5,
.block-text-box6 .content6 {
  margin: auto;
  max-width: 87.7rem;
  font-size: 1.7rem;
}

.block-text-box {
  color: #fff;
}

.block-cheesboard {
  display: table;
  position: relative;
  margin: -15.5rem auto;
  box-shadow: 0px 3px 16px -8px #d9d9d9;
}
.block-cheesboard .block-cheesboard-content {
  display: grid;
  grid-template-columns: 90vw;
  grid-gap: 0;
}
@media all and (min-width: 1150px) {
  .block-cheesboard .block-cheesboard-content {
    grid-template-columns: 51rem 51rem;
  }
}
.block-cheesboard .block-cheesboard-content .box {
  min-height: 55rem;
}
.block-cheesboard .block-cheesboard-content .box__text {
  background: #fff;
  padding: 4.5rem;
  min-height: 55rem;
}
.block-cheesboard .block-cheesboard-content .box__bg {
  background-position: center;
}

.block-icons {
  margin: auto;
  position: relative;
  z-index: 2;
}
.block-icons .content {
  margin: auto;
  max-width: 110rem;
  padding: 3rem;
}
.block-icons .content h1 {
  padding: 5rem 0 2rem 0;
}
.block-icons .content .icons {
  display: grid;
  grid-template-columns: 100%;
}
@media all and (min-width: 768px) {
  .block-icons .content .icons {
    grid-template-columns: 1fr 1fr;
    padding: 4rem 0;
  }
}
@media all and (min-width: 1150px) {
  .block-icons .content .icons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.block-icons .content .icons .icon {
  text-align: center;
  padding: 2rem;
}
.block-icons .content .icons .icon .number {
  display: inline-flex;
}
.block-icons .content .icons .icon .number p {
  padding: 1rem 2rem 0 0;
  font-size: 2.5rem;
  font-weight: 700;
}
.block-icons .content .icons .icon img {
  width: auto;
  height: 7rem;
  padding-bottom: 2.2rem;
}

.block-testimoniale {
  margin: auto;
  position: relative;
  z-index: 2;
}
.block-testimoniale .content {
  margin: auto;
  max-width: 110rem;
  padding: 3rem;
}
.block-testimoniale .content h1 {
  padding: 5rem 0 2rem 0;
}
.block-testimoniale .content .block-slider-columns {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.block-testimoniale .content .block-slider-columns .wrapper {
  position: relative;
  max-width: 287px;
  overflow: hidden;
}
@media all and (min-width: 600px) {
  .block-testimoniale .content .block-slider-columns .wrapper {
    max-width: 335px;
  }
}
@media all and (min-width: 920px) {
  .block-testimoniale .content .block-slider-columns .wrapper {
    max-width: 680px;
  }
}
@media all and (min-width: 1150px) {
  .block-testimoniale .content .block-slider-columns .wrapper {
    max-width: 1140px;
  }
}
.block-testimoniale .content .block-slider-columns .wrapper .overflow {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  transform: translateX(0px);
  transition: all 1s ease;
}
.block-testimoniale .content .block-slider-columns .wrapper .overflow .slider {
  width: 355px;
  height: auto;
  padding: 16px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.block-testimoniale .content .block-slider-columns .wrapper .overflow .slider .box {
  width: 300px;
  height: auto;
}
.block-testimoniale .content .block-slider-columns .wrapper .next {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 10;
  opacity: 1;
}
.block-testimoniale .content .block-slider-columns .wrapper .next img {
  width: auto;
  height: 17px;
}
@media all and (min-width: 600px) {
  .block-testimoniale .content .block-slider-columns .wrapper .next {
    top: 50px;
    right: 335px;
  }
}
.block-testimoniale .content .block-slider-columns .wrapper .previous {
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 10;
  opacity: 0.3;
}
.block-testimoniale .content .block-slider-columns .wrapper .previous img {
  width: auto;
  height: 17px;
}
@media all and (min-width: 600px) {
  .block-testimoniale .content .block-slider-columns .wrapper .previous {
    top: 50px;
    left: 335px;
  }
}

.block-gallery {
  margin: auto;
}
.block-gallery .images {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  width: auto;
  margin: auto;
  padding: 0 10%;
}
@media all and (min-width: 1150px) {
  .block-gallery .images {
    grid-template-columns: 53.8rem 53.8rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
  }
}
.block-gallery .images .image {
  height: 35.9rem;
}
.block-gallery .images .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-gallery .images .lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.95);
}
.block-gallery .images .lightbox:target {
  display: block;
}
.block-gallery .images .lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.block-gallery .pagination {
  margin: auto;
  text-align: center;
  margin: 5.5rem 0 0 0;
  line-height: 4.4rem;
}
.block-gallery .pagination span {
  padding: 0 0.9rem 0.5rem 0.9rem;
  border-bottom: 1px solid #27C55D;
  cursor: context-menu;
}
.block-gallery .pagination a {
  color: #174045;
  text-decoration: none;
  padding: 0.9rem;
}
.block-gallery .pagination a:hover {
  border-radius: 3rem;
  background-color: #27C55D;
}

.block-faq {
  padding: 0 10%;
}
.block-faq .question {
  padding: 2rem;
  color: #353434;
  background: #fff;
  cursor: pointer;
  width: 100%;
  border: 0.025rem solid rgba(64, 67, 65, 0.1);
  box-sizing: border-box;
  box-shadow: -0.1rem 0 1.3rem rgba(0, 0, 0, 0.03);
  text-align: left;
  outline: none;
  font-size: 1.7rem;
  transition: 0.4s;
  font-family: "archia";
}
.block-faq .question:first-of-type {
  border: 0.025rem solid rgba(64, 67, 65, 0.1);
  box-sizing: border-box;
  box-shadow: -0.1rem 0 1.3rem rgba(0, 0, 0, 0.03);
}
.block-faq .question:after {
  content: "❯";
  transform: rotate(90deg);
  color: 0.025rem solid #ececec;
  float: right;
}
.block-faq .active:after {
  content: "❯";
}
.block-faq .active, .block-faq .question:hover {
  color: #000;
}
.block-faq .answer {
  background-color: rgba(255, 255, 255, 0.5);
  color: #353434;
  line-height: 2.315rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.7rem;
  border-top: 0.025rem solid rgba(64, 67, 65, 0.1);
  border-bottom: 0.025rem solid rgba(64, 67, 65, 0.1);
  border-left: 0.025rem solid #e5e5e5;
  border-right: 0.025rem solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: -0.1rem 0 1.3rem rgba(0, 0, 0, 0.03);
}
.block-faq .answer p {
  padding: 4rem 2rem 3rem 2rem;
  opacity: 0.5;
}
.block-faq .answer:last-of-type {
  border-bottom: 0.025rem solid #ececec;
}

.btnCenter {
  text-align: center;
  padding: 6rem 0 6rem 0;
}
.btnCenter .btn, .btnCenter .btn__acf, .btnCenter .btn__dark, .btnCenter .btn__light {
  cursor: pointer;
  padding: 2.5rem 3.8rem;
  border-radius: 180px;
  border: none;
  font-size: 1.7rem;
  text-decoration: none;
}
.btnCenter .btn__light {
  color: #353434;
  background: #fff;
}
.btnCenter .btn__light:hover {
  background: #D9D9D9;
}
.btnCenter .btn__dark {
  color: #fff;
  background: #27C55D;
}
.btnCenter .btn__dark:hover {
  background: black;
}
.btnCenter .btn__acf {
  font-family: "archia" !important;
}
.btnCenter .btn__acf span {
  padding-left: 1rem;
}

@font-face {
  font-family: "archia";
  src: url(../font/70416803e5463742628b872ce57ad775.eot);
  src: url(../font/1c7796f830ce24d1c96a1fc989c19274.woff2) format("woff2"), url(../font/97b7f9e05b914efa588963c8cbd49f08.woff) format("woff"), url(../font/efc5bb18de94d9606b3bf91f8d7263a3.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: Archia;
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.1rem;
  letter-spacing: 0.04em;
  text-align: center;
}

h2 {
  /* H2 */
  font-family: Archia;
  font-style: normal;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 140%;
  /* or 29px */
  letter-spacing: 0.04em;
  text-transform: lowercase;
  font-feature-settings: "pnum" on, "lnum" on, "haln" on;
  padding: 3rem 0;
}

h3 {
  font-size: 2.1rem;
  font-weight: 700;
  color: #000;
  padding: 3rem;
}

h4 {
  /* ONLY TITLE IN THE PAGES */
  font-size: 4.5rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 3px;
  line-height: 5rem;
  padding: 0 0 7rem 0;
}

h5 {
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  box-sizing: border-box;
  background: #E5E5E5;
  line-height: 2.315rem;
}

body {
  font-size: 1.6rem;
  color: #353434;
  /* <p> <body> (1) */
  font-family: archia, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 136.2%;
  /* or 23px */
  letter-spacing: 0.02em;
  font-feature-settings: "haln" on;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #174045;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

#menuToggle {
  position: fixed;
  display: block;
  top: 5rem;
  right: 5%;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 999;
}

#menuToggle a {
  text-decoration: none;
  color: #353434;
  font-size: 1.7rem;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #27C55D;
}

#menuToggle a:active {
  color: #27C55D;
}

#menuToggle input {
  display: block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  top: -0.7rem;
  left: -0.5rem;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  position: relative;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  margin-bottom: 0.4rem;
  left: 1.8rem;
  top: 0.8rem;
  background: #000;
  border-radius: 0.3rem;
  z-index: 1;
}

#menu {
  position: fixed;
  width: 90%;
  height: auto;
  margin: 5rem 0 0 -90%;
  padding: 7% 10%;
  right: 5%;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0%, 150%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0;
}
#menu .tit {
  position: absolute;
  right: 0.5rem;
  top: -6rem;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid white;
  margin: 4rem auto 0;
}

#menu li {
  padding: 1rem 0;
  font-size: 1.7rem;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menu.show {
  opacity: 1;
}

.footer-menu {
  padding: 0 1rem 3rem 1rem;
}

.top-menu {
  padding: 0 0 2rem 0;
  border-bottom: 0.5px solid rgba(125, 120, 120, 0.15);
}

footer .footer-content {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #353434;
}
footer .footer-content h1 {
  padding: 4.5rem 0 1.5rem 0;
}
footer .footer-content p {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
}
@media all and (min-width: 768px) {
  footer .footer-content p {
    width: 65rem;
    padding-bottom: 0;
  }
}
footer .footer-content .footer-contact {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}
footer .footer-content .footer-contact .contact {
  padding: 2rem 0;
}
@media all and (min-width: 640px) {
  footer .footer-content .footer-contact .contact {
    padding: 5rem 0;
  }
}
footer .footer-content .footer-contact .social-media {
  display: inline-flex;
  justify-content: center;
  margin: 5.5rem 0 5rem 0;
}
@media all and (min-width: 640px) {
  footer .footer-content .footer-contact {
    grid-template-columns: 20rem 25rem 8rem;
  }
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  text-align: center;
  height: 0;
  position: relative;
  z-index: 999;
}
header img {
  width: 20rem;
  height: auto;
  padding-top: 5.5rem;
}

.page-header {
  width: 100%;
}
.page-header img {
  width: 100%;
  height: 49rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-container {
  max-width: 50rem;
  padding: 0 10%;
  background-color: red;
}

.page-home {
  background: #353434;
  height: 100vh;
}
.page-home img {
  position: absolute;
  width: 100%;
  height: 65.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-home .container {
  display: flex;
  justify-content: center;
}
.page-home .container .part-up {
  position: absolute;
  border: 1px solid #F4FEFF;
  border-radius: 6rem 6rem 0 0;
  width: 110rem;
  height: 46rem;
  top: 3rem;
}
.page-home .container .part-down {
  position: absolute;
  border: 1px solid #F4FEFF;
  background: #fff;
  border-radius: 0 0 55rem 55rem;
  width: 110rem;
  height: 55rem;
  margin-top: 46rem;
  top: 3rem;
}
.page-home .container .part-down .home-content {
  padding-top: 7rem;
  width: 50rem;
  margin: auto;
}
.page-home .container .part-down .home-content h1 {
  font-weight: bold;
  font-size: 4rem;
}
.page-home .container .part-down .home-content img {
  width: auto;
  height: 6.3rem;
  margin-top: 6.5rem;
  margin-left: -2rem;
}

/*# sourceMappingURL=bundle.css.map*/