//import variables
@import '../variables';

//footer
footer {
    background-color: $color-1;
    padding: 46px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text {
        text-align: center;
        h1 {
            margin-bottom: 15px;
            color: $color-2;
            font-weight: $font-weight-medium2;
            line-height: $line-height-heading;
            letter-spacing: $big-spacing;
        }
        p {
            margin-bottom: 55px;
            width: 647px;
            color: $white;
            letter-spacing: $normal-spacing;
            font-size: $font-desctiption;
            line-height: $line-height-normal;
        }
    }
    .socialMedia {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        div {
            margin-right: 52px;
            &:nth-last-of-type(1){
                margin-right: 0;
            }
            a {
                color: $white;
                cursor: pointer;
                letter-spacing: $normal-spacing;
                font-size: $font-desctiption;
                line-height: $line-height-normal;
                text-decoration: none;
                transition: ease .3s;
                outline: none;
                &:hover {
                    opacity: .8;
                    transition: ease .3s;
                }
                img {
                    margin-right: 10px;
                    margin-bottom: -5px;
                }
            }
        }
        .media {
            display: flex;
            align-items: center;
            div {
                transition: ease .3s;
                &:hover {
                    opacity: .8;
                    transition: ease .3s;
                }
                margin-right: 18px;
                &:nth-last-of-type(1){
                    margin-right: 0;
                }
            }
            .insta, .fb {
                cursor: pointer;
                outline: none;
            }
        }  
    }
}

@media(max-width: 768px) {
    footer {
        padding: 40px 20px;
        .text {
            h1 {
                line-height: $line-height-normal;
                font-size: $font-samll-heading;
            }
            p {
                font-size: $font-mobile-p;
                line-height: $line-height-normal;
                width: auto;
            }
        }
        .socialMedia {
            .tel, .email {
                font-size: $font-mobile-p;
                line-height: $line-height-normal;
                img {
                    height: 18px;
                }
            }
        }
    }
}

@media(max-width: 476px) {
    footer {
        .text {
            p {
                margin-bottom: 25px;
            }
        }
        .socialMedia {
            flex-direction: column;
            div {
                margin-right: 0;
                margin-bottom: 5px;
            }
            .tel, .email {
                margin-right: 0;
            }
            .media {
                margin-top: 10px;
            }
        }
    }
}