//contact form

.contact {
    .title {
        display: flex;
        justify-content: center;
        h2 {
            font-size: $font-extra-heading;
            line-height: $line-height-big;
            font-weight: $font-weight-medium2;
            color: $color-1;
            width: 517px;
            letter-spacing: $heading-spacing;
        }
    }
    .description {
        display: flex;
        justify-content: center;
        p {
            margin-top: 49px;
            width: 641px;
            color: $color-text2;
            line-height: $line-height-normal;
            font-weight: $font-weight-light;
            letter-spacing: $normal-spacing;
            font-size: $font-desctiption;
        }
    }
    .contactForm {
        margin-top: 67px;
        &__box {
            input,textarea {
                width: 724px;
                height: 62px;
                padding: 20px;
                color: $color-text;
                border: none;
                background-color: $white;
                font-size: $font-desctiption;
                font-weight: $font-weight-light;
                line-height: $line-height-normal;
                margin-bottom: 10px;
                outline: none;
            }
            textarea {
                height: 289px;
                margin-bottom: 28px;
            }
            &:nth-of-type(4) {
                display: flex;
                justify-content: center;
                button {
                    background-color: $color-2;
                    width: 245px;
                    height: 67px;
                    border-radius: 180px;
                    margin-bottom: 0;
                    color: $color-1;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    margin-bottom: 90px;
                    transition: ease .3s;
                    position: relative;
                    display: block;
                    font-size: $font-desctiption;
                    letter-spacing: $normal-spacing;
                    img {
                        position: absolute;
                        right: 28px;
                        top: 27px;
                        transition: ease .3s;
                    }
                    &:hover {
                        opacity: .8;
                        transition: ease .3s;
                        img {
                            transition: ease .3s;
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
    }
}


@media(max-width: 948px) {
    .contact {
        padding: 0 50px;
        .title {
            h2 {
                width: auto !important;
            }
        }
        .description {
            p {
                width: auto !important;
            }
        }
    }
}

@media(max-width: 810px) {
    .contact {
        .contactForm {
            &__box {
                input,textarea {
                    width: 650px;
                }
                textarea {
                    width: 650px;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .contact {
        padding: 30px 20px 40px;
        .title {
            h2 {
                line-height: $line-height-normal;
                font-size: $font-samll-heading;
            }
        }
        .description {
            p {
                font-size: $font-mobile-p;
                line-height: $line-height-normal;
            }
        }
        .contactForm {
            margin-top: 50px;
            &__box {
                &:nth-of-type(4) {
                    button {
                        width: 205px;
                        height: 50px;
                        border-radius: 25px;
                        border: none;
                        font-size: $font-mobile-p;
                        outline: none;
                        margin-bottom: 0;
                        img {
                            right: 16px;
                            top: 19px;
                            height: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 710px) {
    .contact {
        .contactForm {
            &__box {
                input,textarea {
                    width: 450px;
                    height: 52px;
                }
                textarea {
                    width: 450px;
                    height: 260px;
                }
            }
        }
    }
}

@media(max-width: 549px) {
    .contact {
        padding: 0;
        .contactForm {
            &__box {
                input,textarea {
                    width: 100%;
                }
            }
        }
    }
}