////////////////////////////////////
// SCSS: BLOCK FAQ
////////////////////////////////////

@use '../helpers/variables';

.block-faq {
  padding: 0 10%;

  .question {
    padding: 2rem;
    color: variables.$color-text;
    background: variables.$color-white;
    cursor: pointer;
    width: 100%;
    border: .025rem solid rgba(64, 67, 65, 0.1);
    box-sizing: border-box;
    box-shadow: -.1rem 0 1.3rem rgba(0, 0, 0, 0.03);
    text-align: left;
    outline: none;
    font-size: 1.7rem;
    transition: 0.4s;
    font-family: 'archia';
  }

  .question:first-of-type {
    border: .025rem solid rgba(64, 67, 65, 0.1);
    box-sizing: border-box;
    box-shadow: -.1rem 0 1.3rem rgba(0, 0, 0, 0.03);
  }

  .question:after {
    content: '\276F';
    transform: rotate(90deg);
    color: .025rem solid #ececec;
    float: right;
  }

  .active:after {
    content: "\276F";
  }

  .active, .question:hover {
    color: variables.$color-black;
  }

  .answer {
    background-color: rgba(#fff, .5);
    color: variables.$color-text;
    line-height: 2.315rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.7rem;
    border-top: .025rem solid rgba(64, 67, 65, 0.1);
    border-bottom: .025rem solid rgba(64, 67, 65, 0.1);
    border-left: .025rem solid #e5e5e5;
    border-right: .025rem solid #e5e5e5;
    box-sizing: border-box;
    box-shadow: -.1rem 0 1.3rem rgba(0, 0, 0, 0.03);

    p {
      padding: 4rem 2rem 3rem 2rem;
      opacity: 0.5;
    }
  }

  .answer:last-of-type {
    border-bottom: .025rem solid #ececec;
  }
}
